* {
  margin: 0;
  padding: 0;
}

body {
  background-size: cover;
}

.title {
  color: aliceblue;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 1rem;
  text-shadow: 2px 2px rgb(106, 108, 231);
}

.button {
  text-align: center;
  margin: 2rem;
}
